@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
   font-family: 'Poppins'; 
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
body{
    background: #111;
}
header{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    padding: 30px 100px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.logo{
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: 1s;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}
.slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
}
.imgBx{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 1;
    clip-path: circle(0px at center);
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    position: relative;
    text-align: center;
    max-width: 800px;
} 
h2{
    font-size: 6em;
    line-height: 1em;
    color: #fff;
}
p{
    font-size: 1.1em;
    color: #fff;
}
.content a{
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 10px 30px;
    color: #111;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
}

.slider input[type="radio"]{
    position: relative;
    z-index: 1000;
    margin-bottom: 40px;
    cursor: pointer;
    outline: none;
}
.slider input[type="radio"]:checked+.imgBx{
    z-index: 10;
    clip-path: circle(1000px at center);
}